<h1>Cadastrar categoria</h1>
<form action="/categorias" method="POST">
    <div class="form-group">
        <label for="nome">Nome da categoria</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="mt-4 d-flex justify-content-between">
      <a href="/categorias" class="btn btn-light border">Cancelar</a>
      <button type="submit" class="btn btn-custom">Cadastrar</button>
    </div>
</form>
