<h1>Editar categoria</h1>
<form action="/categorias/<%= categoria.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="nome">Categoria</label>
        <input type="text" class="form-control" id="nome" name="nome" value="<%= categoria.nome %>" required>
    </div>
    <div class="mt-4 d-flex justify-content-between">
      <a href="/categorias" class="btn btn-light border">Cancelar</a>
      <button type="submit" class="btn btn-custom">Salvar</button>
    </div></form>
